*{
    padding: 0%;
    margin: 0%;
}

ul{
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;   
    list-style-type: none;
    display: flex;
    border-bottom: 2px solid #F2F2F2;
    align-items: flex-start;
    text-indent: 5px;
}

.SearchBarContainer{ 
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 3.8em;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 2px 12px 3px rgba(0, 0, 0, 0.14);
    vertical-align: middle;
    overflow: hidden;
}

.SearchInputContainer{
    width: 100%;
    min-height: 4em;
    display: flex;
    align-items: center;
    position: relative;
    padding: 2px 15px;
    overflow: hidden;
}


.SearchIcon{
    color: #bebebe;
    font-size: 27px;
    margin-right: 10px;
    margin-top: 6px;
    vertical-align: middle;
}

.CloseIcon{
    color: #bebebe;
    font-size: 23px;
    vertical-align: middle;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    margin-right: 20px;
    background-color: transparent;
    border:none;
    
}

.CloseIcon:hover {
    color: #dfdfdf;
}